html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: beige;
    width: fit-content(0);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
}

div {
    width: 100%;
    margin: 0;
    padding: 0 1em;
}

#canvasContainer {
    width: min-content;
    padding: 0;
}

canvas {
    background-color: black;
}


div.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2em 0;
    padding: 0;
    gap: 0.4em;
}

div.slider {
    width: 100%;
    margin: 0.2em 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

input[type=range] {
    width: 80%;
    margin: 0;
}

div.slider>label {
    width: 8%;
    font-size: small;
    text-align: right;
    margin-left: 2%;
}

div.gifSaveContainer {
    width: 100%;
    padding: 1em;
}